// Variables for evenathing.com

// $font-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-base: "Shadows Into Light Two", "Comic Sans MS", cursive, sans-serif;


$color-bg: #fff;
$color-body: #333;
$color-border: lighten($color-body, 60);
// $color-primary: #FBFF00;
$color-primary: #F5A623;